<div class='award'>
	<h3>
		Selected Awards
	</h3>
	<ul>
		<li>Doctoral China National Scholarship (Oct. 2025. 3% awarded.)</li>
		<li>Postgraduate Entrepreneurship and Innovation Project (4% awarded.)</li>
		<li>Research and Innovation Scholarship of BJTU(Oct. 2023. 4% awarded.)</li>
		<li>China National Scholarship (Oct. 2023. 3% awarded.)</li>
		<li>Highest honor of BJTU: Zhixing Scholarship (Nov. 2022. 0.2% awarded.)</li>
		<li>China National Scholarship (Oct. 2022. 3% awarded.)</li>
		<li>Baosteel Scholarship(Oct. 2022. 0.2% awarded.)</li>
		<li>China National Scholarship (Oct. 2021. 3% awarded.)</li>
	</ul>

	<h3>
		Academic Service & Activities
	</h3>

	<h4>
		<a name='Frequent Reviewer'></a> Frequent Reviewer
	</h4>
	<ul>
		<li>CVPR, ICCV, ECCV, ICLR, ICML, MM, AAAI, TCSVT</li>
	</ul>


</div>