
<div class='award'>
	<h3>
		Selected Awards
	</h3>
	<ul >
		<li>Research and Innovation Scholarship of BJTU(Oct. 2023. 4% awarded.)</li>
		<li>China National Scholarship (Oct. 2023. 3% awarded.)</li>
		<li>Highest honor of BJTU: Zhixing Scholarship (Nov. 2022. 0.2% awarded.)</li>
		<li>China National Scholarship (Oct. 2022. 3% awarded.)</li>
		<li>Baosteel Scholarship(Oct. 2022. 0.2% awarded.)
		<li>China National Scholarship (Oct. 2021. 3% awarded.)</li>
	</ul>
	
	<h3>
		Academic Service & Activities
	</h3>
	
	<h4>
		<a name='Frequent Reviewer'></a> Frequent Reviewer
	</h4>
	<ul >
		<li>International Conference on Computer Vision (ICCV)</li>
		<li>European Conference on Computer Vision (ECCV)</li>
		<li>IEEE Transactions on Circuits and Systems for Video Technology (TCSVT)</li>
		<li>Association for the Advancement of Artificial Intelligence (AAAI)</li>
	</ul>
	
	<h4>
		<!-- <a name='Invited Talk'></a> Invited Talk -->
	</h4>
	
	<ul >
		<!-- <li><a href="https://www.koushare.com/lives/room/145470">Parallax-Tolerant Unsupervised Deep Image Stitching and Future Challenges</a>, CSIG Student Forum, Nov. 2023</li>
		<li><a href="https://www.bilibili.com/video/BV1cW4y1z7Q1?spm_id_from=333.999.0.0">Deep Rectangling for Image Stitching: A Learning Baseline</a>, VALSE, Jun. 2022</li>
		<li><a href="https://www.bilibili.com/video/BV1ER4y1P7go?spm_id_from=333.337.search-card.all.click">Exploring Deep Image Warp</a>, Extreme Mart, Apr. 2022</li>
		<li><a href="https://www.koushare.com/video/videodetail/16768">Unsupervised Deep Image Stitching</a>, Graduate Academic Forum of Chinese Journal of Image and Graphics, Sep. 2021</li> -->
	</ul>
	
	
</div>


