<div class='award'>
	<h3>
		Selected Awards
	</h3>
	<ul>
		<li>Doctoral China National Scholarship (Oct. 2025. <strong style="color: #e67e22;">3% awarded.</strong>)</li>
		<li>Postgraduate Entrepreneurship and Innovation Project (<strong style="color: #e67e22;">4% awarded.</strong>)</li>
		<li>Research and Innovation Scholarship of BJTU(Oct. 2023. <strong style="color: #e67e22;">4% awarded.</strong>)</li>
		<li>China National Scholarship (Oct. 2023. <strong style="color: #e67e22;">3% awarded.</strong>)</li>
		<li>Highest honor of BJTU: Zhixing Scholarship (Nov. 2022. <strong style="color: #e67e22;">0.2% awarded.</strong>)</li>
		<li>China National Scholarship (Oct. 2022. <strong style="color: #e67e22;">3% awarded.</strong>)</li>
		<li>Baosteel Scholarship(Oct. 2022. <strong style="color: #e67e22;">0.2% awarded.</strong>)</li>
		<li>China National Scholarship (Oct. 2021. <strong style="color: #e67e22;">3% awarded.</strong>)</li>
	</ul>

	<h3>
		Academic Service & Activities
	</h3>

	<h4>
		<a name='Frequent Reviewer'></a> Frequent Reviewer
	</h4>
	<ul>
		<li>CVPR, ICCV, ECCV, ICLR, ICML, MM, AAAI, TCSVT</li>
		<li><strong>🏆 ICML 2026 Golden Reviewer</strong></li>
		<li><strong>🏆 CVPR 2026 Outstanding Reviewer</strong></li>
	</ul>


</div>