<div class="interest">
	<h3>Research Interests</h3>
	<p>
		I am interested in perception the depth information using deep learning,
		especially for some adverse conditions . These depth information provide
		extra critic cues for others computer vision tasks (e.g. semantics
		segmentation, multi-view reconstruction and so on) and demonstrate
		impressive performance.
		<!-- The specific intersts are listed below: -->
	</p>
	<!-- <h4>
		<a name='interest1'></a> <b>1) Multi-view geometry and image processing:</b>
	</h4>
	<p>
	image/video stitching, image rectangling, homography estimation, video stabilization
		</p>
	<h4>
		<a name='interest2'></a> <b>3) Panoramic scene understanding:</b>
	</h4>
	<p>
	panoramic objection detection, semantic segmentation, depth estimation, layout estimation
</p>
	<h4>
		<a name='interest3'></a> <b>2) 3D reconstruction and view synthesis:</b>
	</h4>
	<p>
	multi-view stereo (MVS), MVS + NeRF
		</p> -->
</div>
