<div class="interest">
	<h3>Research Interests</h3>
	<p>
		My research interests focus on leveraging deep learning for 3D geometric perception. I am enthusiastic about
		exploring CV foundation models or tools such as GAN, Stable Diffusion, FLUX, Qwen-VL, VGGT, etc., and
		successfully integrating them into my research to achieve impressive results.
		The specific intersts are listed below:
	</p>
	<h4>
		<a name='interest1'></a> <b>1) 3D Editing and Perception:</b> Depth Estimation, 3D Gaussian, Normal Estimation
	</h4>
	<h4>
		<a name='interest2'></a> <b>2) Generative Model and Editing Model:</b> Diffusion Model, Flow Matching, DiT.
		e.g., FLUX-Kontext
	</h4>
	<h4>
		<a name='interest3'></a> <b>3) Others:</b> GRPO (FLow-based), VLM, Contrastive Learning, Curriculum Learning
	</h4>
</div>