<div class="interest">
	<h3>Research Interests</h3>
	<p>
		My research interests focus on AIGC, especially video generation and editing. I am enthusiastic about
		exploring generative models and tools such as Diffusion, FLUX, Flow Matching, and VLMs, and
		successfully integrating them into my research to achieve impressive results.
		The specific interests are listed below:
	</p>
	<h4>
		<a name='interest1'></a> <b>1) AIGC:</b> Video Generation/Editing, Diffusion Model, Flow Matching, DiffusionNFT, GRPO (Generative)
	</h4>
	<h4>
		<a name='interest2'></a> <b>2) VLM:</b> Video Understanding, GRPO, Reward Model
	</h4>
	<h4>
		<a name='interest3'></a> <b>3) Others:</b> 3D Gaussian, Depth Estimation, Normal Estimation
	</h4>
</div>