<div class="row">
	<div class="col-xs-3">
		<div class="photo">
			<img src="assets/images/jiyuan.jpg" alt="photo" />
		</div>
	</div>
	<div class="col-xs-9">
		<h3>Jiyuan Wang &nbsp; 王纪元</h3>
		<p>
			I am a second-year Ph.D.(Bachlor-straight-to-doctorate) student at Beijing
			Jiaotong University (<a href="https://bjtu.edu.cn/">BJTU</a>) in
			<a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a> (led by
			Prof. <a href="http://faculty.bjtu.edu.cn/5900/">Yao Zhao</a>), supervised
			by Prof. <a href="http://faculty.bjtu.edu.cn/8549/">Chunyu Lin</a>. I will go to Nanyang Technological University (<a href="https://www.ntu.edu.sg/">NTU</a>), <a href="http://www.ntu.edu.sg/s-lab">S-Lab</a>, as a visiting student in 2026, supervised by Prof. <a href="https://guosheng.github.io/">Guosheng Lin</a>. 
			<br/>
			I have completed an autonomous driving algorithm internship at <a href="https://www.mi.com/">Xiaomi</a>, supervised by Quanyun Zhou. I am currently doing a VLM algorithm internship at <a href="https://www.amap.com/">Amap</a>, <a href="https://www.alibabagroup.com/">Alibaba</a>, supervised by Lei Sun and <a href="https://cxxgtxy.github.io/">Xiangxiang Chu</a>.
			<br/>
			Prior to that, I received my undergraduate degree at <i>Computer Science and Technology</i> from BJTU. 
		</p>

		<h3 style="padding-top: -5px"></h3>

		{% if site.email %}
		<a href="mailto: {{wangjiyuan@bjtu.edu.cn}}"
			><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a
		>
		{% endif %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if site.website_google %}
		<a
			href="https://scholar.google.com/citations?hl=zh-CN&user=subRjlcAAAAJ"
			target="_blank"
			><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}</a
		>
		{% endif %} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% if site.github %}
		<a href="https://github.com/wangjiyuan9" target="_blank"
			><i class="fa fa-github"></i> &nbsp; {{site.github}}</a
		>
		{% endif %}
	</div>
</div>
